---
const today = new Date(); 
---

<footer>
	&copy; {today.getFullYear()} MontillaSoft. Todos los derechos.  
	<div class="social-links">

		<a href="https://api.whatsapp.com/send/?phone=18293087380&text=Hola Juan!&app_absent=0"  target="_blank">
			<span  > <img width="100px" src="https://static.whatsapp.net/rsrc.php/v3/y7/r/DSxOAUB0raA.png"/> </span>

		</a>

		<a    target="_blank">
			<span  >ing.juan.montilla@gmail.com</span>
			 
		</a>
		<span >Doc v0.1</span>
	 
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
