@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/twitter-bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
<div id="app">

    <div class="card  ">
        <div class="card-header bg-Cprimary ">  Listado </div>
        <div class="card-body">


            <div class="btn-group" role="group" aria-label="Basic example">


                <a title="Nuevo Registro" v-on:click="showModal" class="btn btn-primary btn-sm text-white"><i class="fas fa-file"></i> Nuevo</a>


                <a id="_btnRefresh" v-on:click="getAllRows" class="btn btn-light btn-sm text-black-50 btnRefresh" name="_btnRefresh"><i class="fas fa-sync-alt"></i> Actualizar Datos</a>

            </div>

            <div class='btn-group' role='group' aria-label='Basic example'>

            </div>
            <div class="row justify-content-center" style="margin-top:0%">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header text-left bg-light text-black-50"><i class="fas fa-list-ul"></i> </div>
                        <div class="card-body bg-light">

                            <div class="row">
                                <div class="col-md-12 table-responsive table-responsive-xl table-responsive-sm">

                                    <table class="table tableDynamic striped table-border">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tr v-for="(TypeRegister,index) in TypeRegisters">
                                            <td>

                                                <a href="#" v-on:click="removeTypeRegister(TypeRegister,index)" class='btn btn-light btn-sm '><i class='fas fa-trash-alt'></i></a>
                                                <a href="#" class='btn btn-light btn-sm' v-on:click="editRecordShow(TypeRegister,index)"><i class='fas fa-edit'></i></a>
                                            </td>                                           
                                            <td>TypeRegister </td>
                                            
                                        </tr>
                                    </table>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="newModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-Cprimary ">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar Registro</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lastName">Mes</label>
                        <vue-datepicker-local v-model="monthBalance" format="DD/MM/YYYY"></vue-datepicker-local>

                    </div>
                    <div class="form-group">
                        <label for="name">Monto</label>
                        <input v-model="balance" type="text" class="form-control" style="width:100%">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm text-black-50" data-dismiss="modal"><i class="fas fa-list"></i> Cerrar</button>
                    <button type="button" class="btn btn-success btn-sm text-white btnSave" v-on:click="addNewRecord"><i class="fas fa-save"></i> Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-Cprimary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar Registro</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="MonthBalance">Mes</label>
                        <vue-datepicker-local v-model="monthBalance" format="DD/MM/YYYY"></vue-datepicker-local>
                    </div>
                    <div class="form-group">
                        <label for="name">Monto</label>
                        <input v-model="balance" type="text" class="form-control" style="width:100%">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light btn-sm text-black-50" data-dismiss="modal"><i class="fas fa-list"></i> Cerrar</button>
                    <button type="button" class="btn btn-success btn-sm text-white btnSave" v-on:click="EditRecord"><i class="fas fa-save"></i> Guardar Cambio</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/Datepicker/vue-datepicker-local.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <link href="~/lib/Datepicker/vue-datepicker-local.css" rel="stylesheet" /> 
    <script src="~/lib/Mommentjs/moment.min.js"></script>
    <script src="~/lib/Mommentjs/moment-with-locales.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script>

        var app = new Vue({
            el: "#app",

            data: {
                TypeRegisters: [],
                balance: "",
                monthBalance: null,
                editItemIndex: null,
                editItemId: null

            },
            created: function () {
                this.getAllRows();

            },
            methods: {

                clearData: function () {
                    var vm = this;
                    vm.balance = "";
                    vm.monthBalance = null;
                    vm.editItemIndex = null;
                    vm.editItemId = null;
                },

                editRecordShow: function (item, index) {

                    this.balance = item.balance;
                    this.monthBalance = item.monthBalance;
                    editItemIndex = index;
                    editItemId = item.id;


                    $('#editModal').modal('show');
                },

                EditRecord: function (item) {
                    var vm = this;

                    var newTypeRegister = {
                        id: editItemId,
                        balance: vm.balance,
                        monthBalance: vm.monthBalance
                    }

                    $.ajax({ url: "/TypeRegister", data: newTypeRegister, method: "PUT" })
                        .done(function () {
                            vm.TypeRegisters[editItemIndex].balance = vm.balance;
                            vm.TypeRegisters[editItemIndex].monthBalance = vm.monthBalance;
                            toastr.success("Registro actualizado.");
                        }).fail(function () {
                            toastr.error("No pudo Acualizar el registro");
                        }).always(function () {
                            vm.clearData();
                        });

                    $('#editModal').modal('hide');
                },
                removeTypeRegister: function (item, index) {
                    var vm = this;

                    var recordDelete = {
                        id: item.id
                    }

                    $.ajax({ url: "/TypeRegister", data: recordDelete, method: "DELETE" })
                        .done(function (data) {
                            vm.TypeRegisters.splice(index, 1);
                            toastr.success("Registro removido");
                        }).fail(function () {
                            toastr.error("No pudo remover el registro!");
                        });
                },
                dateFormart: function (date) {

                    return moment(date).lang("es").format('MMMM(YYYY)');
                },
                MoneyFormart: function (money) {

                    return numeral(money).format('$0,0.00');
                },
                addNewRecord: function () {
                    var vm = this;

                    var newRecord = {
                        balance: vm.balance,
                        monthBalance: moment(vm.monthBalance, 'DD/MM/YYYY', true).format()
                    }
                    console.log(newRecord.monthBalance);

                    console.log(moment(newRecord.monthBalance).format());
                    $.ajax({ url: "/TypeRegister", data: newRecord, method: "POST" })
                        .done(function (data) {
                            vm.TypeRegisters.splice(0, 0, newRecord);
                            toastr.success("Nuevo registro agregado.");
                        }).fail(function () {
                            toastr.error("No pudo agregar el registro!");
                        }).always(function () {
                            vm.clearData();
                        });

                    $('#newModal').modal('hide');

                },
                getAllRows: function () {
                    var vm = this;
                    $.ajax({ url: "/TypeRegister", method: "GET" })
                        .done(function (data) {
                            vm.TypeRegisters = data;
                            toastr.success("Todo el registro cargado.");
                        }).fail(function () {
                            toastr.error("No pudo cargar todos los registro!");
                        });
                },
                showModal: function () {
                    var vm = this;
                    vm.clearData();
                    $('#newModal').modal('show');
                }
            }
        });</script>
}
